
* {
    margin: 0;
}

h2 {
    font-size: xx-large;
    padding: 10%;
} 

#noBtn {
    position: relative;
}

button {
    font-size: xx-large;
    padding: 1%;
    margin: 2%;
}

.container {
    margin: 0;
    background-color:  yellowgreen;
    color: indigo;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

